#about-us header {
  background-color: var(--color-pink-2);
}
.nav-mobile {
  display: none;
}
#about-us header .logo {
  border: 1px solid var(--color-white);
}
#about-us .navbar-menu {
  display: flex;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  border-radius: 20px;
  padding: 5px;
  width: 80%;
  gap: 10px;
}
#about-us .navbar-menu a {
  color: var(--color-white);
}
.banner {
  background-color: var(--color-pink-2);
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}
.vector-about-us {
  width: 50%;
}
.text-banner {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 200px;
  margin-bottom: 40px;
}
.text-banner p {
  font-size: 1.8rem;
  color: var(--color-white);
  max-width: 100ch;
  text-align: justify;
  margin-top: 10px;
  font-family: Inter;
}
.swipe-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 2.4rem;
  color: var(--color-pink);
  font-weight: 700;
  font-family: Inter;
  padding: 20px;
  overflow-x: scroll;
  scrollbar-width: none; /* Oculta a barra no Firefox */
  -ms-overflow-style: none; /* Oculta a barra no IE e Edge antigo */
}
.swipe-list li {
  border: 3px solid var(--color-pink);
  padding: 5px;
  border-radius: 20px;
  white-space: nowrap;
}
.banner-main {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-green);
  border-radius: 20px;
  overflow: hidden;
}
.introduction {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 30px;
}
.introduction h1 {
  font-size: 6.4rem;
}
.introduction p {
  font-size: 1.8rem;
  max-width: 50ch;
  text-align: justify;
}
.our-values {
  font-size: 6.4rem;
  font-weight: 700;
}
.title-about-us {
  font-size: 6.4rem;
  color: var(--color-pink);
  padding: 50px 0;
}
.our-values .box-values h3 {
  padding: 10px;
  font-size: 3.2rem;
  font-weight: 700;
}
.our-values .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 370px));
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}
.our-values .box-values {
  overflow: hidden;
  border-radius: 20px;
  max-width: 387px;
  height: 260px;
  cursor: pointer;
}
.our-values .box-values img {
  height: 200px;
}
.boxes .box-values .front {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
.boxes .box-values:hover .front {
  display: none;
}
.back {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 3rem;
  padding: 0 10px;
  color: var(--color-white);
  font-family: Inter;
}
.boxes .box-values:hover .back {
  display: flex;
}
.our-values .box-values:first-child {
  background-color: var(--color-yellow);
  color: var(--color-pink);
}
.our-values .box-values:first-child:hover {
  backface-visibility: hidden;
}
.our-values .box-values:nth-child(2) {
  background-color: var(--color-green);
  color: var(--color-orange);
}
.our-values .box-values:nth-child(3) {
  background-color: var(--color-pink);
  color: var(--color-orange);
}
.our-team {
  --transform-speed: 250ms;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.our-team .title-about-us {
  padding-bottom: 0;
}
.container-our-team {
  --transform-speed: 250ms;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 20px;
  align-items: end;
}
.sub-container-team {
  position: relative;
  display: grid;
  align-items: end;
  overflow: hidden;
  cursor: pointer;
  height: 350px;
  border-radius: 20px;
}
.sub-container-team::before {
  content: "Bibliotecaria";
  display: block;
  background-color: var(--color-white);
  font-size: 2rem;
  z-index: 4;
  position: absolute;
  left: 70%;
  top: 250px;
  padding: 5px;
  border-radius: 20px;
}
.sub-container-team:nth-child(1)::before {
  color: var(--color-orange);
}
.sub-container-team:nth-child(2)::before {
  color: var(--color-green-2);
}
.sub-container-team:nth-child(3)::before {
  color: var(--color-pink-2);
}
.sub-container-team:nth-child(3)::before {
  color: var(--color-green-2);
}
.square {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 260px;
  border-radius: 20px;
}
.team-img {
  position: relative;
  max-width: 250px;
  display: block;
  z-index: 2;
  transition: transform var(--transform-speed) ease-in-out;
  transform: scale(1);
}

.name-team {
  position: absolute;
  font-size: 2rem;
  z-index: 3;
  color: var(--color-white);
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 10px;
}
.sub-container-team:nth-child(1) .square {
  background-color: var(--color-orange);
}
.sub-container-team:nth-child(2) .square {
  background-color: var(--color-green);
}
.sub-container-team:nth-child(3) .square {
  background-color: var(--color-pink-2);
}
.sub-container-team:nth-child(4) .square {
  background-color: var(--color-green-2);
}
.sub-container-team:nth-child(1) span {
  background-color: var(--color-orange);
}
.sub-container-team:nth-child(2) span {
  background-color: var(--color-green-2);
}
.sub-container-team:nth-child(3) span {
  background-color: var(--color-pink);
}
.sub-container-team:nth-child(4) span {
  background-color: var(--color-green-2);
}
@media (max-width: 612px) {
  #about-us .navbar-menu {
    display: none;
  }
  #about-us header .logo img {
    width: 70px;
  }
  #about-us .nav-mobile {
    display: block;
    border: 1px solid var(--color-white);
    padding: 10px 50px;
    border-radius: 50px;
  }
  #about-us .nav-mobile img {
    width: 174px;
  }
}
@media (max-width: 855px) {
  .container-our-team {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .team-img {
    position: relative;
    max-width: 250px;
    display: block;
    z-index: 2;
    left: 0;
    right: 0;
    margin-inline: auto;
    transition: transform var(--transform-speed) ease-in-out;
    transform: scale(1);
  }
}
@media (max-width: 1096px) {
  .banner {
    flex-direction: column;
  }
  .vector-about-us {
    width: 100%;
  }
  .text-banner img {
    width: 450px;
  }
}
@media (max-width: 763px) {
  #about-us .icon-user {
    width: 30px;
  }
}
@media (max-width: 500px) {
  .our-values .boxes {
    flex-direction: column;
  }
  .text-banner img {
    width: 177px;
  }
}
@media (max-width: 500px) {
  .banner-main {
    flex-direction: column;
    align-items: center;
  }
  .introduction h1 {
    font-size: 4rem;
    margin: 20px 0;
  }
  .image-banner {
    transform: rotate(90deg);
    width: fit-content;
  }
  .image-banner img {
    width: 250px;
  }
}
