.filter {
  margin: 100px 0;
  margin: 0 auto;
}
.filter h3 {
  font-size: 6.4rem;
  color: var(--color-pink);
}
.filter .container-filter {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  margin: 20px 0;
  border: 1px solid var(--color-pink);
  border-radius: 30px;
}
.filter input {
  margin-left: 10px;
  padding: 10px;
  width: 500px;
  font-size: 1.8rem;
  border: none;
}
.filter input::placeholder {
  font-size: 1.8rem;
  color: var(--color-pink);
}
.filter .category {
  display: flex;
  gap: 20px;
}
.filter select {
  border-radius: 20px;
  font-size: 1.8rem;
  padding: 10px 20px;
  border: 1px solid var(--color-pink);
  color: var(--color-pink);
}
.filter button.search {
  display: flex;
  font-size: 1.8rem;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: 20px;
  border: none;
}
.collection-books {
  position: relative;
}
.collection-books .collection-books_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  place-items: center;
  align-items: center;
}
.collection-books .collection-books_list li {
  position: relative;
}
.collection-books figcaption {
  display: none;
  font-size: 3rem;
  background-color: rgba(52, 51, 51, 0.5);
  backdrop-filter: blur(10px); /* Aplica o efeito embaçado */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidade Safari */
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  width: 100%;
  height: 40%;
  padding: 10px;
}
.collection-books figcaption button {
  width: 60px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(30, 29, 29);
  transform: translateX(140px);
  margin-top: 20px;
  cursor: pointer;
}
.collection-books .collection-books_list li:hover figcaption {
  display: block;
}
.addition {
  background-color: var(--color-pink);
  color: var(--color-white);
  width: 64px;
  height: 44px;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  top: 250px;
  right: 10px;
  z-index: 1;
  transition: ease 0.2s;
  cursor: pointer;
}
.addition:hover {
  width: 200px;
  right: -100px;
}
@media (max-width: 1276px) {
  .collection-books .collection-books_list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1044px) {
  .collection-books .collection-books_list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 983px) {
  .filter select {
    display: none;
  }
}
@media (max-width: 880px) {
  .collection-books .collection-books_list {
    grid-template-columns: repeat(2, 1fr);
  }
  .collection-books {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .main-collection .container-global {
    padding: 20px;
  }
  .filter h3 {
    font-size: 4rem;
  }
  .filter button.search {
    padding: 10px;
  }
  .filter button.search span {
    display: none;
  }
}
