.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 50px 0;
  min-height: 100vh;
}
.gallery-container-introduction {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text h2 {
  font-size: 6rem;
  font-weight: 700;
  color: var(--color-pink);
}
.text p {
  color: var(--color-grey);
  font-family: Inter;
  opacity: 0.7;
  font-size: 1.8rem;
  line-height: 140%;
  margin-top: 5px;
}
.box-links-section-gallery {
  padding-bottom: 50px;
}
.box-links-section-gallery.mobile {
  display: none;
}
.box-links-section-gallery a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-pink);
  border: 3px solid var(--color-pink);
  border-radius: 20px;
  width: 300px;
  height: 44px;
}
.box-links-section-gallery a:first-child {
  margin-bottom: 10px;
}
.box-links-section-gallery a .box-arrow-icon {
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-pink);
}
.box-links-section-gallery a .box-arrow-icon .arrow-icon {
  font-size: 1rem;
  margin: 0 auto;
  font-weight: 700;
}
.gallery-carousel {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: end;
  overflow: hidden;
}
.gallery-carousel-container {
  width: 350px;
  height: 100%;
  border-radius: 20px;
  display: grid;
  align-items: center;
}
.gallery-carousel-container figure {
  position: relative;
  width: 300px;
  height: 450px;
  grid-column: 1;
  grid-row: 1;
  margin-right: 100px;
}
.gallery-carousel-container figure img {
  width: 300px;
  height: 450px;
  border-radius: 20px;
}
.figure-1 {
  transform: rotate(5deg);
  z-index: 5;
}
.figure-2 {
  transform: rotate(-5deg);
  z-index: 4;
}
.figure-3 {
  transform: rotate(10deg);
  z-index: 3;
}
.figure-4 {
  transform: rotate(5deg);
  z-index: 2;
}
.figure-5 {
  transform: rotate(10deg);
  z-index: 1;
}
figcaption,
.box-arrow-icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  margin: 20px;
}
figcaption {
  position: absolute;
  border: 3px solid var(--color-white);
  top: 0;
  right: 0;
}
.box-arrow-icon {
  border: 4px solid var(--color-pink);
}
figcaption i,
.arrow-icon {
  /* color do arrow-icon definido no html */
  font-size: 2rem;
  color: azure;
  margin: 0 auto;
  font-weight: 700;
}
figcaption:hover {
  transform: rotate(-20deg);
}
.box-arrow-icon {
  transform: rotate(-20deg);
}
@media (max-width: 1066px) {
  .gallery {
    flex-direction: column;
  }
  .gallery-carousel {
    justify-content: center;
    margin: 10px 0;
  }
  .gallery-container-introduction {
    width: 100%;
  }
  .text {
    position: relative;
  }
  .text .box-arrow-icon {
    position: absolute;
    bottom: -60px;
    transform: rotate(40deg);
    margin: 10px 0;
  }
  .box-links-section-gallery {
    display: none;
  }
  .box-links-section-gallery.mobile {
    display: block;
  }
  .gallery-carousel {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .gallery .text h2 {
    font-size: 4rem;
  }
  .figure-3 {
    transform: rotate(8deg);
    z-index: 3;
  }
}
