* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 62.5%;
}
a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
main {
  font-family: "DM Sans";
}
.logo-mobile {
  display: none;
}
.container-global {
  max-width: 1250px;
  padding: 20px 41px;
  margin: 0 auto;
}
:root {
  --color-orange: #f78520;
  --color-yellow: #f8c200;
  --color-white: #fff;
  --color-grey: #5a5a5a;
  --color-pink: #81013a;
  --color-pink-2: #bf0259;
  --color-pink-3: rgb(201, 55, 159);
  --color-green: #9fd443;
  --color-green-2: #06521c;
}
