header .logo-gray {
  display: none;
}
header .container-global {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 41px;
  max-width: 1200px;
  margin: 0 auto;
}
header .navbar-menu {
  width: 50%;
  color: var(--color-grey);
}
header .navbar-list {
  display: flex;
  justify-content: space-around;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.64px;
  color: var(--color-grey);
}
header .navbar-list a {
  color: var(--color-grey);
}
header .navbar-list li {
  cursor: pointer;
}
/* === header da página sobre nós === */
#about-us header {
  position: absolute;
  width: 100%;
  padding-top: 10px;
}
header .container-global {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .logo {
  border-radius: 50%;
}
header .navbar-about-us {
  display: flex;
  width: 70%;
  border: 2px solid #b87293;
  box-shadow: rgba(180, 165, 173, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  border-radius: 50px;
  gap: 50px;
}
header .navbar-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: var(--color-white);
}
/* === Fim do header da página sobre nós === */

footer {
  background-color: var(--color-pink);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  padding-top: 20px;
}
footer .container-global,
footer nav,
footer ul li a {
  display: flex;
}
footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
  object-fit: contain;
}
footer .logo small {
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  left: 19px;
}
footer .container-global {
  align-items: center;
  justify-content: space-between;
  padding: 10px 41px;
  margin: 0 auto;
  max-width: 1200px;
}
footer nav {
  width: 60%;
  justify-content: space-between;
}
footer .nav-box {
  padding: 10px;
}
footer h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
footer ul li {
  line-height: 35px;
}
footer ul li a:hover {
  text-decoration: underline;
}
footer ul li a p {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
}
footer ul li a {
  align-items: center;
}
footer ul li a img {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  margin-right: 2px;
}
footer .baseboard {
  padding: 20px 0;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 1127px) {
  footer h3 {
    font-size: 2rem;
  }
  footer ul li a p {
    font-size: 1.5rem;
  }
}
@media (max-width: 1091px) {
  footer .container-global {
    flex-direction: column;
  }
  footer .logo {
    padding: 20px;
  }
  footer nav {
    padding: 20px;
    width: 100%;
  }
}
@media (max-width: 766px) {
  header .navbar-list {
    font-size: 3.5rem;
    gap: 30px;
  }
  header .container-global img {
    width: 50px;
  }
  header .container-global img:last-child {
    width: 30px;
  }
  footer h3 {
    font-size: 1.8rem;
  }
  footer ul li a p {
    font-size: 1.2rem;
  }
}
@media (min-width: 501px) and (max-width: 586px) {
  header .navbar-list {
    font-size: 3.2rem;
    gap: 20px;
  }
  footer .nav-box:last-child p {
    display: none;
  }
}
@media (max-width: 500px) {
  header .navbar-menu,
  header .icon-user-menu {
    display: none;
  }
  footer nav {
    flex-direction: column;
    align-items: center;
  }
}
