.banner {
  height: 511px;
  display: flex;
  background-color: var(--color-green);
  border-radius: 20px;
}
.banner-home {
  height: 100%;
  width: 100%;
  background-image: url("/src/images/banners/image-banner-orange.png");
  background-repeat: repeat;
  background-size: cover;
}
.banner .image-logo-banner {
  margin-bottom: 20px;
  width: 226px;
}
.title-banner-home_and_button-collection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 20px 0 0 20px;
}
.title-banner-home_and_button-collection div {
  display: flex;
  flex-direction: column;
}
.title-banner-home_and_button-collection p {
  color: var(--color-white);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.64px;
  margin-left: 15px;
}
.title-banner-home_and_button-collection button {
  width: 89px;
  height: 44px;
  color: var(--color-white);
  background-color: var(--color-orange);
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
}
.title-banner-home_and_button-collection button:hover {
  background-color: transparent;
  border: 2px solid var(--color-orange);
  color: var(--color-orange);
  font-weight: 700;
}
@media (max-width: 500px) {
  .banner {
    flex-direction: column;
    height: 511px;
  }
  .title-banner-home_and_button-collection {
    border-radius: 20px 20px 0 0;
    background-color: var(--color-green);
  }
  .title-banner-home_and_button-collection p {
    margin-bottom: 20px;
  }
  .banner-home {
    border-radius: 0 0 20px 20px;
  }
}
